{% extends "layout.html" %}
{% block content %}
     <div class = 'content-section' style="background: #1d2124;">
        <form method = "POST", action = '' enctype="multipart/form-data">
        {{form.hidden_tag()}}  
        <fieldset class = "form-group">
              <legend class ="border-bottom mb-4" style="color:#cfdde3"> {{legend}} </legend>
              <div class = "title" style="color:#cfdde3">
                   {{ form.title.label(class = "form-control-label")}}

                     {% if form.title.errors %}
                        {{ form.title(class = "form-control form-control-lg is-invalid")}}
                            <div class = "invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span> {{error}} </span>
                                {% endfor %}
                            </div>
                        {% else%}
                            {{ form.title(class = "form-control form-control-lg")}}
                        {% endif %}             
              </div>

              <div class = "form-group" style="color:#cfdde3">
                  {{form.content.label(class = "form-control-label")}} 

                     {% if form.content.errors %}
                        {{ form.content(class = "form-control form-control-lg is-invalid")}}
                            <div class = "invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span> {{error}} </span>
                                {% endfor %}
                            </div>
                        {% else%}
                            {{ form.content(class = "form-control form-control-lg")}}
                        {% endif %}                   
              </div>


              <div class = "form-group" style="color:#cfdde3">
                {{form.files_upload.label(class = "form-control-label")}} 

                   {% if form.files_upload.errors %}
                      {{ form.files_upload(class = "form-control form-control-lg is-invalid")}}
                          <div class = "invalid-feedback">
                              {% for error in form.files_upload.errors %}
                                  <span> {{error}} </span>
                              {% endfor %}
                          </div>
                      {% else%}
                          {{ form.files_upload(class = "form-control form-control-lg")}}
                      {% endif %}                   
            </div>

              
        </fieldset>
        <div class = "form-group" style="color:#cfdde3"> 
           {{form.submit(class = "btn btn-outline-info")}}
        </div>
        </form>
    </div>
{% endblock content %}